<form {{action "save" on="submit"}} class="create-event">
  <div>
    <label>
      Nombre
      {{input type="text" value=model.name}}
    </label>
  </div>
  <div>
    <label>
      Orden
      {{input type="text" value=model.order}}
    </label>
  </div>
  <div>
		{{view "select"
	       content=types
	       selection=model.type
	       value=model.type
	       prompt='Selecciona una opcion'
	       }} 	
  </div>

 <div>
    <label>
      Es Versus
      {{input type="checkbox" checked=model.isVersus}}
    </label>
  </div>

  <div>

  {{#if isNational}}
 	<label>
		Pais
		{{model-selector modelName='country' value=model.country labelPath="name" sigle=true}}
	</label> 	

  {{/if}}

  {{#if isProvincial}}
	<label>
		Pais
		{{model-selector modelName='country' value=country labelPath="name" sigle=true}}
	</label>
	{{#if country}}
	<label>
		Provincia
		{{model-selector modelName='province' value=model.province fieldFilter='country' valueFilter=country.id labelPath="name" sigle=true}}
	</label>		
	{{/if}}	   	
  {{/if}}

  {{#if isDistrictal}}
	<label>
		Pais
		{{model-selector modelName='country' value=country labelPath="name" sigle=true}}
	</label>
	{{#if country}}
	<label>
		Provincia
		{{model-selector modelName='province' value=province fieldFilter='country' valueFilter=country.id labelPath="name" sigle=true}}
	</label>		
	{{/if}}
	{{#if province}}
	<label>
		Distrito
		{{model-selector modelName='town' value=model.town fieldFilter='province' valueFilter=province.id labelPath="name" sigle=true}}
	</label>		
	{{/if}}	 

  {{/if}}
  </div>
  <div>
	<label>
		Cargo
		{{model-selector modelName='charge' value=model.charge labelPath="name" sigle=true}}
	</label>
	<label>
		Candidatos
		{{model-selector modelName='candidate' value=model.candidates optionLabelPath="content.fullName" multiple=true fieldFilter='charge' valueFilter=model.charge.id}}   
	</label>
	<label>
		Instancias
		{{model-selector modelName='instance' value=model.instances optionLabelPath="content.name" multiple=true}}   
	</label>	
  </div>		
  <div>
    <input type="submit" value="Guardar">
  </div>
</form>
