<article>
  
  
</article>
<h1>Listado de escuelas</h1>
<fieldset>
  <label>
    Pais
    {{model-selector modelName='country' value=country labelPath="name" sigle=true}}
  </label>
  {{#if country}}
  <label>
    Provincia
    {{model-selector modelName='province' value=province fieldFilter='country' valueFilter=country.id labelPath="name" sigle=true}}
  </label>    
  {{/if}}
  {{#if province}}
  <label>
    Distrito
    {{model-selector modelName='town' value=town fieldFilter='province' valueFilter=province.id labelPath="name" sigle=true}}
  </label>    
  {{/if}} 
</fieldset> 

<input class="input-file" type="file" id="file">

<a {{action 'process'}} class="scan-app-process">Procesar</a>

<p>
  {{link-to "Crear nuevo escuela" "data-entry.schools.new" }}
</p>

{{#if model.length}}
  <table class="table-minimal">
    <thead>
      <tr>
        <th>
          Nombre
        </th>
         <th>
          Direccion
        </th>      
        <th>
          Zona
        </th> 
        <th colspan="3">
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each school in model}}
        <tr>
          <td>
            {{school.name}}
          </td>
          <td>
            {{school.address}}
          </td>
          <td>
            {{school.town.province.country.name}} | {{school.town.province.name}} | {{school.town.name}} | {{school.borough.name}}
          </td>          
          <td>
            {{link-to "Editar" "data-entry.schools.edit" school}}
          </td>
          <td>
            <a href="#" {{action "remove" school}}>Eliminar</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="loading">
  {{loading-bubbles color='#0083ff' size=100}}
</div>
{{/if}}
