<div class="container">
	{{#unless session.isAuthenticated}}
	{{#link-to 'login' class="btn-login"}} 
		<span>Iniciar sesión</span>
	{{/link-to}}
	{{/unless}}

	{{#if (can 'view operator')}}
		{{partial 'partials/operator'}}
	{{/if}}

	{{#if (can 'view viewer')}}
		{{#if session.user.teams}}
			{{#each session.user.teams as |team|}}
				<h3 class="vote-head">
					<span class="pull-left"> Mesas escrutadas: {{boardsCompletedPercent}} % ({{boardsCompleted}} / {{boardsAll}})</span>
					<span class="pull-right">Ultima actualización {{time-ago-in-words lastUpdated}}</span>
					<span class="for-print">Ultima actualización {{date-and-time lastUpdated}}</span>
				</h3>				
				{{#each team.orderedConfigs as |config|}}
					<div class="instance-container">
						{{#if config.isVersus}}
							{{partial 'partials/versus'}}
						{{else}}
							{{partial 'partials/general'}}
						{{/if}}
					</div>
				{{/each}}
			{{/each}}
		{{/if}}
	{{else}}
		{{#if (can 'view general')}}
			{{#if session.user.teams}}
				{{#each session.user.teams as |team|}}
						<h3 class="vote-head">
							<span class="pull-left"> Mesas escrutadas: {{boardsCompletedPercent}} % ({{boardsCompleted}} / {{boardsAll}})</span>
							<span class="pull-right">Ultima actualización {{time-ago-in-words lastUpdated}}</span>
							<span class="for-print">Ultima actualización {{date-and-time lastUpdated}}</span>
						</h3>				
						{{#each team.orderedConfigs as |config|}}
							<div class="instance-container -all">
								<div class="charge-header">{{config.charge.name}}</div>
								{{partial 'partials/all'}}
							</div>
						{{/each}}
				{{/each}}
			{{/if}}	
		{{/if}}
	{{/if}}
</div>