<div class="container">
	{{#link-to 'login' class="btn-login"}} 
		<span>Iniciar sesión</span>
	{{/link-to}}

	{{#if (can 'view operator')}}
		{{partial 'partials/operator'}}
	{{/if}}

	{{#if (can 'view viewer')}}
		{{#if session.user.teams}}
			{{#each session.user.teams as |team|}}
					{{#each team.configs as |config|}}
						<div class="instance-container">
							{{#if config.isVersus}}
								{{partial 'partials/versus'}}
							{{else}}
								{{partial 'partials/general'}}
							{{/if}}
						</div>
					{{/each}}
			{{/each}}
		{{/if}}
	{{else}}
		{{#if (can 'view victorica')}}
			{{partial 'partials/victorica-viewer'}}
		{{else}}
			{{#if (can 'view victorica')}}
				{{partial 'partials/victorica-operator'}}
			{{/if}}		
		{{/if}}
	{{/if}}
</div>