{{#link-to 'login' class="btn-login"}} 
	<span>Iniciar sesión</span>
{{/link-to}}

{{#if (can 'view operator')}}
	{{#if session.user.teams}}
		{{#each session.user.teams as |team|}}
			{{#view 'operator' team=team schools=session.user.schools instances=session.user.instances}}
			{{#ivy-tabs class="main-tab"}}
				{{#ivy-tab-list class="nav-tab"}}
					{{#each view.configs as |config|}}
						{{#ivy-tab}}{{config.config.name}}{{/ivy-tab}}
					{{/each}}				
				{{/ivy-tab-list}}

				{{#each view.configs as |config|}}
					{{#ivy-tab-panel}}
						<div class="instance-container">
							{{#each config.instances as |instance|}}
								<div class="instance-item">
									<h2>{{instance.instance.name}}</h2>
									<div class="school-container">
										{{#each instance.schools as |school|}}
											<div class="school-item">
												<div class="school-data">
													<div class="school-name">
														<h3>{{school.school.name}}</h3>
													</div>

													<div class="school-referring -icon">
														<div class="school-meta">
															<div class="item adress">
																{{fa-icon 'map-marker'}} {{school.school.address}}
															</div>
															<div class="item referring">
																{{fa-icon 'user'}} {{school.school.referring.name}} {{school.school.referring.lastName}}
															</div>
															<div class="item telephone">
																{{fa-icon 'mobile'}} {{school.school.referring.telephone}}
															</div>
														</div>
													</div>
												</div>
												
												<div class="board-container">
													<div class="board-head">
														<div class="board">
															<h4>Mesas</h4>
														</div>
														<div class="candidate-container">
															{{#each config.config.candidates as |candidate|}}
																<h4>{{candidate.lastName}}</h4>
															{{/each}}	
														</div>
													</div>
													{{#each school.boards as |board|}}
														<div class="board-item">
															<div class="board">
																N°{{board.board.name}}
															</div>
															<div class="candidate-container">
																{{#each board.candidates as |candidate|}}
																	<div {{bind-attr class=":board-candidate candidate.candidate.name"}}>
																		{{input type='number' value=candidate.candivote.votes}}
																	</div>
																{{/each}}
															</div>
														</div>
													{{/each}}
												</div>
											</div>
										{{/each}}
									</div>
								</div>
							{{/each}}
						</div>
						{{#if view.isDirty}}
							<a {{action 'save' target="view" class="smart-save"}}>Guardar</a>
						{{/if}}
					{{/ivy-tab-panel}}
				{{/each}}
			{{/ivy-tabs}}	

			{{/view}}
		{{/each}}
	{{/if}}
{{/if}}


{{#if (can 'view viewer')}}
	{{#if session.user.teams}}
		{{#each session.user.teams as |team|}}
			{{#view 'viewer' team=team schools=session.user.schools instances=session.user.instances}}
			{{#ivy-tabs}}
				{{#ivy-tab-list class="nav-tab"}}
					{{#each view.configs as |config|}}
						{{#ivy-tab}}{{config.config.name}}{{/ivy-tab}}
					{{/each}}				
				{{/ivy-tab-list}}

				{{#each view.configs as |config|}}
					{{#ivy-tab-panel}}
						<div class="instance-container">
							{{#each config.instances as |instance|}}
								<div class="instance-item">
									<div class="instance-meta">
										<h2>{{instance.instance.name}}</h2>
										<div class="instance-candidate">
											{{#each config.config.candidates as |candidate|}}
												{{#view 'totalizer' candivotes=view.candivotes candidate=candidate config=config.config instance=instance.instance}}
													<div {{bind-attr class=":item candidate.name"}}>
														{{fa-icon 'circle'}}{{candidate.lastName}} {{view.percent}}%
													</div>
												{{/view}}
											{{/each}}
										</div>
									</div>
									

									<div class="boroughs-container">
										{{#each instance.boroughs as |borough|}}
										<div class="boroughs-item">
											<div class="boroughs-meta">
												
											<h3>{{borough.borough.name}}</h3>
											{{#each config.config.candidates as |candidate|}}
												{{#view 'totalizer' candivotes=view.candivotes candidate=candidate config=config.config instance=instance.instance borough=borough.borough}}
													<div {{bind-attr class=":item candidate.name"}}>
														<div class="name">
														{{fa-icon 'circle'}}  {{candidate.lastName}} 
														</div>
														<div class="percent">
															{{view.percent}}% 
														</div>
														<div class="votes">
															{{view.totalVotes}} 
														</div>
														
													</div>
												{{/view}}
											{{/each}}	
																			
											</div>
											<div class="school-container">
											{{#each borough.schools as |school|}}
												<div class="school-item">
													<div class="school-data">
														<div class="school-name">
															<h3>{{school.school.name}}</h3>
														</div>
														<div class="school-referring -icon">
															<div class="school-meta">
																{{#each config.config.candidates as |candidate|}}
														{{#view 'totalizer' candivotes=view.candivotes candidate=candidate config=config.config instance=instance.instance school=school.school}}
															<div {{bind-attr class=":item candidate.name"}}>
														<div class="name">
														{{fa-icon 'circle'}}  {{candidate.lastName}} 
														</div>
														<div class="percent">
															{{view.percent}}% 
														</div>
														<div class="votes">
															{{view.totalVotes}} 
														</div> 
													</div>
														{{/view}}
													{{/each}}	
															</div>
														</div>
													</div>
													

													<div class="board-container">
														<div class="board-head">
															<div class="board">
																<h4>Mesas</h4>
															</div>
															<div class="candidate-container">
																{{#each config.config.candidates as |candidate|}}
																	<div {{bind-attr class=":board-candidate candidate.candidate.name"}}>
																		<h4>{{candidate.lastName}}</h4>
																	</div>
																{{/each}}	
															</div>

															
														</div>
														{{#each school.boards as |board|}}
															<div class="board-item">
																<div class="board">
																	N°{{board.board.name}}
																</div>
																<div class="candidate-container">
																	{{#each config.config.candidates as |candidate|}}
																		{{#view 'totalizer' candivotes=view.candivotes candidate=candidate config=config.config instance=instance.instance school=school.school board=board.board class="board-candidate"}}
																	 		{{view.percent}}% {{view.totalVotes}}
																		{{/view}}
																	{{/each}}
																</div>
															</div>
														{{/each}}
													</div>
												</div>
											{{/each}}
											</div>
										</div>
										{{/each}}			
									</div>
								</div>
							{{/each}}
						</div>
						{{#if view.isDirty}}
							<a {{action 'save' target="view"}}>Guardar</a>
						{{/if}}
					{{/ivy-tab-panel}}
				{{/each}}
			{{/ivy-tabs}}	

			{{/view}}
		{{/each}}
	{{/if}}
{{/if}}


