{{#each session.user.instances as |instance|}}
	{{#view 'totalizer' candidate=candidate config=config instance=instance autoRefresh=controllers.application.autoRefresh isCertificate=true
	bcPercent=boardsCompletedPercent bc=boardsCompleted ba=boardsAll lu=lastUpdated}}
		<div class="force-container">
			<div class="candidates-box">
				{{#each view.forces as |force|}}
					<div class="candidate-item">
						{{#each force.candidates as |candidate|}}
							<div class="item-img">
								{{#if candidate.candidate.picture.url}}
					            	<img {{bind-attr src=candidate.candidate.picture.url}}>
					            {{else}}
					             	{{#if candidate.candidate.force.logo.url}}
						              	<img {{bind-attr src=candidate.candidate.force.logo.url}}>
					              	{{else}}
						              	<img src="/assets/images/no-user-img.jpg" width="150px">
					              	{{/if}}
					           {{/if}}
				            </div>
							
				            <h2 class="item-name">
					            {{candidate.candidate.name}} {{candidate.candidate.lastName}}
				            </h2>

						{{/each}}

						<div class="votes-box">
							 <span class="item-vote">{{force.votes}} votos</span>
							 <div class="item-percent">{{force.percent}}%</div>
						</div>

						<div class="force-box">
							{{{color-div force.force.color}}}
							<div class="force-name">{{force.force.name}}</div>
						</div>
					
					</div>
				{{/each}}
			</div>

		</div>
	{{/view}}
{{/each}}				