{{#each session.user.instances as |instance|}}
	{{#view 'totalizer' candidate=candidate config=config instance=instance autoRefresh=controllers.application.autoRefresh isCertificate=true bcPercent=boardsCompletedPercent bc=boardsCompleted ba=boardsAll lu=lastUpdated}}
		{{#if view.forces}}
		<div>

			<div class="boroughs-list">
				<div class="boroughs-item -head">
					<div class="name">Barrio</div>
				</div>
				{{#each view.boroughsList as |borough|}}
					<div class="boroughs-item">
						<div class="namess">{{borough.borough.name}}</div>
						<div class="candidate-progress">
							{{#each borough.candidates as |candidate|}}
								<div {{bind-attr class=":votes"}}>
									<div class="porcentaje">{{candidate.percent}}%</div>
									<div class="names">{{candidate.candidate.lastName}}</div>
									
								</div>
							{{/each}}
						</div>
					</div>
				{{/each}}
			</div>

			<div class="last-boards">
				{{#if view.lastBoardsLoaded}}
						<div class="board-item -head">
							<div class="name">Últimas mesas cargadas</div>
						</div>

						{{#each view.lastBoards as |board|}}

							<div class="board-item">
								<div class="board">
									<span><b>{{board.board.name}}</b> | {{board.board.school.name}}</span>

									<span class="pull-right">{{board.board.school.borough.name}}</span>
									{{board.board.updatedAt}}
								</div>
								<div class="candidate-container">
								{{#each board.candidates as |candidate|}}
									<div {{bind-attr class=":candidate-item"}}>
										<div class="name">
											<div class="votes">{{candidate.votes}}</div> 
											<div class="name">{{candidate.candidate.lastName}}</div>
										</div>
									</div>
								{{/each}}
								</div>
								
							</div>
						{{/each}}
				{{/if}}
			</div>		

		</div>
	
		{{/if}}
	{{/view}}
{{/each}}							