{{#each session.user.instances as |instance|}}
	{{#view 'totalizer' candidate=candidate config=config instance=instance autoRefresh=controllers.application.autoRefresh isCertificate=true
	bcPercent=boardsCompletedPercent bc=boardsCompleted ba=boardsAll lu=lastUpdated}}
		<div class="force-container">
			{{#each view.forces as |force|}}
				<div class="forces-item">

						{{#each force.candidates as |candidate|}}
							<div class="candidate-item">
								<div class="force-name">{{force.force.name}}</div>
								<div class="img-container">
									{{#if candidate.candidate.picture.url}}
						              <img {{bind-attr src=candidate.candidate.picture.url}}>
						             {{else}}
						             	{{#if candidate.candidate.force.logo.url}}
							              	<img {{bind-attr src=candidate.candidate.force.logo.url}}>
						              	{{else}}
							              	<img src="/assets/images/no-user-img.jpg" width="76px">
						              	 {{/if}}
						           {{/if}}
					            </div>
					            <div class="candidate-meta">
						            <h1>{{candidate.candidate.name}} <br> {{candidate.candidate.lastName}}</h1>
									
					            </div>
							</div>
						{{/each}}
						<div class="votes">
							 <div class="percent">{{force.percent}}%</div>
							 <span class="vote">{{force.votes}} votos</span>
						</div>
					{{{color-div force.force.color}}}
				</div>
		{{/each}}
		</div>
	{{/view}}
{{/each}}				