{{#each session.user.instances as |instance|}}
	{{#view 'totalizer' candidate=candidate config=config instance=instance autoRefresh=controllers.application.autoRefresh isCertificate=true bcPercent=boardsCompletedPercent bc=boardsCompleted ba=boardsAll lu=lastUpdated}}
		<div class="intendente-panel">
			<div class="force-general">
				
			<div class="candidates-box">
				{{#each view.forces as |force|}}
					<div class="candidate-item">
						{{#each force.candidates as |candidate|}}
							<div class="item-img">
								{{#if candidate.candidate.picture.url}}
					            	<img {{bind-attr src=candidate.candidate.picture.url}}>
					            {{else}}
					             	{{#if candidate.candidate.force.logo.url}}
						              	<img {{bind-attr src=candidate.candidate.force.logo.url}}>
					              	{{else}}
						              	<img src="/assets/images/no-user-img.jpg" width="76px">
					              	{{/if}}
					           {{/if}}
				            </div>
							
				            <h2 class="item-name">
					            {{candidate.candidate.name}} {{candidate.candidate.lastName}}
				            </h2>

						{{/each}}

						<div class="votes-box">
							 <span class="item-vote">{{force.votes}} votos</span>
							 <div class="item-percent">{{force.percent}}%</div>
						</div>

						<div class="force-box">
							{{{color-div force.force.color}}}
							<div class="force-name">{{force.force.name}}</div>
						</div>
					
					</div>
				{{/each}}
			</div>
			</div>

			<div class="boroughs-list">
				<div class="boroughs-item -head">
					<div class="name">Barrio</div>
					<div class="candidate-progress">
						{{#each view.candidates as |candidate|}}
							<div class="votes">{{candidate.candidate.lastName}}</div>
						{{/each}}
					</div>
				</div>
				{{#each view.boroughsList as |borough|}}
					<div class="boroughs-item">
						<div class="name">{{borough.borough.name}}</div>
						<div class="candidate-progress">
							{{#each borough.candidates as |candidate|}}
								<div {{bind-attr class=":votes"}}>
									{{candidate.percent}}%
									
								</div>
							{{/each}}
						</div>
					</div>
				{{/each}}
			</div>

			<div class="last-boards">
				{{#if view.lastBoardsLoaded}}
					<h3>Últimas mesas cargadas</h3>
					{{#slick-carousel
					  class="ember-carousel"
					  autoplay=true
					  autoplaySpeed=5000
					  slidesToShow=1
					  slidesToScroll=1
					  dots=true
					  fade=false
					  }}
						{{#each view.lastBoards as |board|}}

							<div class="board-item">
								<div class="board">
									<span><b>{{board.board.name}}</b> | {{board.board.school.name}}</span>

									<span class="pull-right">{{board.board.school.borough.name}}</span>
									{{board.board.updatedAt}}
								</div>
								<div class="candidate-container">
								{{#each board.candidates as |candidate|}}
									<div {{bind-attr class=":candidate-item"}}>
										<div class="name">
											<b>{{candidate.votes}}</b> <br>
											<span>{{candidate.candidate.lastName}}</span>
										</div>
									</div>
								{{/each}}
								</div>
								
							</div>
						{{/each}}
					{{/slick-carousel}}
				{{/if}}
			</div>
		</div>

		<div class="concejal-panel">
			<div class="concejal-container">
				<h2>Coeficiente</h2>
				<div class="concejal-meta">
					<div class="banks">
						<h3>{{config.town.places}}</h3>
						<small>Bancas en juego</small>
					</div>
					<div class="coefficient">
						<h3>{{view.coefficient}}</h3>
						<small>valor actual</small>
					</div>
				</div>
				<h2>Concejales</h2>
				<ul class="concejal-list">
				{{#each view.forcePlaces as |forcePlace|}}
					<li class="concejal-item">
						<div class="places">{{forcePlace.places}} </div>
						<div class="name">{{forcePlace.force.name}}</div>
						<small><b>{{forcePlace.percent}}</b> {{forcePlace.remainder}}</small>
					</li>
				{{/each}}
				</ul>
			</div>
		</div>

	{{/view}}
{{/each}}				