{{#each session.user.instances as |instance|}}
	{{#view 'totalizer' candidate=candidate config=config instance=instance autoRefresh=controllers.application.autoRefresh}}
		{{#each view.forces as |force|}}
			<div class="forces-item">
				<h3>{{force.force.name}}</h3>
				<div class="force-meta">
					Voto del bloque {{force.percent}}% | Votos {{force.votes}} 
				</div>
				{{#each force.candidates as |candidate|}}
					<div class="candidate-item">
						<div class="img-container">
							{{#if candidate.candidate.picture.url}}
				              <img {{bind-attr src=candidate.candidate.picture.url}}>
				             {{else}}
				             	{{#if candidate.candidate.force.logo.url}}
					              	<img {{bind-attr src=candidate.candidate.force.logo.url}}>
				              	{{else}}
					              	<img src="/assets/images/no-user-img.jpg" width="76px">
				              	 {{/if}}
				           {{/if}}
			            </div>
			            <div class="candidate-meta">
			            	<div class="percent">
								{{candidate.percent}}%
			            	</div>
							<div class="votes">
								<span>(Votos {{candidate.votes}})</span>
							</div>
			            </div>
					</div>
				{{/each}}
			</div>
		{{/each}}
	{{/view}}
{{/each}}				