<div class="operator">
	{{#if session.user.teams}}
		<div class="school-create">
			<fieldset>
				<label>
					<span>Equipo de trabajo</span>
					{{view "select"
				       content=session.user.teams
				       optionLabelPath='content.name'
				       selection=currentTeam
				       value=currentTeam
				       multiple=false
				       prompt='Selecciona una opción'
				       }}
				</label>
				{{#if currentTeam}}
				<label>
					<span>Configuración</span>
					{{view "select"
				       content=currentTeam.configs
				       optionLabelPath='content.name'
				       selection=currentConfig
				       value=currentConfig
				       prompt='Selecciona una opción'
				       multiple=false
				       }}
				</label>
				{{/if}}
				{{#if currentConfig}}
				<label>
					<span>Instancia de carga</span>
					{{view "select"
				       content=currentConfig.instances
				       optionLabelPath='content.name'
				       selection=currentInstance
				       value=currentInstance
				       prompt='Selecciona una opción'
				       multiple=false
				       }}
				</label>
				{{/if}}
			</fieldset>	
			<fieldset>
				{{#if currentInstance}}										
				<label>
					<span>Escuela</span>
					{{view "select"
				       content=session.user.schools
				       optionLabelPath='content.name'
				       selection=currentSchool
				       value=currentSchool
				       prompt='Selecciona una opción'
				       multiple=false
				       }}
				</label>
				{{/if}}
				{{#if currentSchool}}
				<label>
					<span>Mesa</span>
					{{model-selector modelName='board' value=currentBoard fieldFilter='school' valueFilter=currentSchool.id labelPath="name" sigle=true}}
				</label>				
				{{/if}}
			</fieldset>	
		</div>
		{{#view 'operator' currentSchool=currentSchool currentBoard=currentBoard config=currentConfig instance=currentInstance}}
			{{#if view.currentBoard}}
				<div class="board-container">
					<div class="board">
						<span class="pull-left">Cargar mesa N°{{view.currentBoard.name}}</span>
						{{#if view.isDirty}}
							<a {{action 'save' target="view"}} class="smart-save btn pull-right">Guardar</a>
						{{/if}}		
						<div class="total-votes pull-right">
							<label>Total votos</label>
							{{input type='number' value=currentBoard.totalVotes}}
							Provisorio: {{input type='checkbox' checked=currentBoard.isProvisorio class="checkbox-eso"}}
							Certificada: {{input type='checkbox' checked=currentBoard.isCertificate class="checkbox-eso"}}
						</div>	
						{{#if currentBoard.isCertificate}}
						<div class="escrutinio-votes pull-left">
							<label><span>Total nulos</span>
							{{input type='number' value=currentBoard.nullVotes}}</label>							
							<label><span> Votos recurridos</span>
							{{input type='number' value=currentBoard.recurredVotes}}</label>	
							<label><span>Votos inpugnados</span>
							{{input type='number' value=currentBoard.inpugnedVotes}}</label>	
							<label><span>Votos en blanco</span>
							{{input type='number' value=currentBoard.blankVotes}}</label>
						</div>
						{{/if}}
					</div>
					<div class="force-container">
						{{#each view.candidates as |candidate|}}
							<div class="force-list">
								<div class="name">
									{{candidate.candidate.subforce.name}} <br>
									<small>{{candidate.candidate.name}} {{candidate.candidate.lastName}}</small>
								</div>
								<div class="votes">
									{{input type='number' value=candidate.candivote.votes}}
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			{{/if}}
		{{/view}}
	{{/if}}
</div>
