{{#if session.user.teams}}
		<fieldset>
			<label>
				Equipo de trabajo
				{{view "select"
			       content=session.user.teams
			       optionLabelPath='content.name'
			       selection=currentTeam
			       value=currentTeam
			       multiple=false
			       prompt='Selecciona una opcion'
			       }}
			</label>
			{{#if currentTeam}}
			<label>
				Configuracion
				{{view "select"
			       content=currentTeam.configs
			       optionLabelPath='content.name'
			       selection=currentConfig
			       value=currentConfig
			       prompt='Selecciona una opcion'
			       multiple=false
			       }}
			</label>
			{{/if}}
			{{#if currentConfig}}
			<label>
				Instancia de carga
				{{view "select"
			       content=currentConfig.instances
			       optionLabelPath='content.name'
			       selection=currentInstance
			       value=currentInstance
			       prompt='Selecciona una opcion'
			       multiple=false
			       }}
			</label>
			{{/if}}
			{{#if currentInstance}}										
			<label>
				Escuela
				{{view "select"
			       content=session.user.schools
			       optionLabelPath='content.name'
			       selection=currentSchool
			       value=currentSchool
			       prompt='Selecciona una opcion'
			       multiple=false
			       }}
			</label>
			{{/if}}
			{{#if currentSchool}}
			<label>
				Mesa
				{{model-selector modelName='board'  value=currentBoard fieldFilter='school' valueFilter=currentSchool.id labelPath="name" sigle=true}}
			</label>				
			{{/if}}
		</fieldset>	
		{{#if currentBoard}}
			{{#view 'operator' currentSchool=currentSchool currentBoard=currentBoard config=currentConfig instance=currentInstance}}
				<div class="board-item">
					<div class="board">
						N°{{currentBoard.name}}
					</div>
					<ul class="candidate-container">
						{{#each view.candidates as |candidate|}}
							<li >
								{{candidate.candidate.subforce.name}} {{input type='number' value=candidate.candivote.votes}}
							</li>
						{{/each}}
						<li>
							Total votos	
							{{input type='number' value=currentBoard.totalVotes}}
						</li>																
					</ul>
				</div>
				{{#if view.isDirty}}
					<a {{action 'save' target="view" class="smart-save"}}>Guardar</a>
				{{/if}}							
			{{/view}}
		{{/if}}
{{/if}}