{{#each session.user.instances as |instance|}}
	<div class="instance-item">
		<div class="instance-meta">											
			{{#view 'totalizer' candidate=candidate config=config instance=instance autoRefresh=controllers.application.autoRefresh}}
				<h3 class="vote-head">
					<span class="pull-left"> Mesas escrutadas: {{view.boardsCompletedPercent}} % ({{view.meta.completed}} / {{view.meta.total}})</span>
						Voto FPV: 

					<span class="pull-right">Ultima actualización {{time-ago-in-words view.meta.date}}</span>
				</h3>
				
				<div class="instance-candidate">
					{{#each view.candidates as |candidate|}}
						<div {{bind-attr class=":item candidate.candidate.name"}}>
				            <div class="img-container">
								{{#if candidate.candidate.picture.url}}
					              <img {{bind-attr src=candidate.candidate.picture.url}}>
					             {{else}}
					             	{{#if candidate.candidate.force.logo.url}}
						              	<img {{bind-attr src=candidate.candidate.force.logo.url}}>
					              	{{else}}
						              	<img src="/assets/images/no-user-img.jpg" width="76px">
					              	 {{/if}}
					           {{/if}}
				            </div>
							    <div class="item-data">
							 	<h2>
							 		{{candidate.candidate.name}} {{candidate.candidate.lastName}}
						 		</h2>
							 	<div class="percent">
								 	{{candidate.percent}}%
								 	<small>{{candidate.votes}} votos</small>
								</div>
								<i>{{candidate.candidate.force.name}}</i>
								<small>Porcentaje total {{candidate.totalPercent}} %</small>
							 </div>
						</div>
					{{/each}}
					<div class="pull-left progress-bar">
					  <span class="meter" style="width: 60%"></span>
					</div>
				</div>
				<div class="boroughs-list">
					<div class="boroughs-item -head">
						<div class="name">
							Barrio
						</div>
						{{#each view.candidates as |candidate|}}
							<div class="votes">
								{{candidate.candidate.lastName}}
							</div>
						{{/each}}
					</div>
					{{#each view.boroughs as |borough|}}
						<div class="boroughs-item">
							<div class="name">
								{{borough.borough.name}}
							</div>
							{{#each borough.candidates as |candidate|}}
								<div class="votes">
									{{candidate.percent}}%
									<small>(Votos {{candidate.votes}})</small>
								</div>
							{{/each}}
						</div>
					{{/each}}
				</div>	
				<div class="last-boards">
					<h3>Ultimas mesas cargadas</h3>
						<div class="board-head">
							<div class="board">
								<h4>Mesas</h4>
							</div>
							<div class="candidate-container">
								{{#each view.candidates as |candidate|}}
									<div class="votes">
										{{candidate.candidate.lastName}}
									</div>
								{{/each}}
							</div>
						</div>
						{{#each view.boards as |board|}}
							<div class="board-item">
								<div class="board">
									{{board.board.name}}
								</div>
								<div class="candidate-container">
								{{#each board.candidates as |candidate|}}
									<div class="votes">
										{{candidate.votes}}
									</div>
									<div class="percent">
										{{candidate.percent}}%
									</div>
								{{/each}}
								</div>
							</div>
						{{/each}}
					</div>
			{{/view}}
		</div>
	</div>
{{/each}}