{{#each session.user.instances as |instance|}}
	<div class="instance-item">
		<div class="instance-meta">											
			{{#view 'totalizer' candidate=candidate config=config instance=instance autoRefresh=controllers.application.autoRefresh bcPercent=boardsCompletedPercent bc=boardsCompleted ba=boardsAll lu=lastUpdated isCertificate=false}}
				
				<div class="instance-candidate">
					{{#each view.candidates as |candidate|}}
						<div {{bind-attr class=":item candidate.candidate.name"}}>
				            <div class="img-container">
								{{#if candidate.candidate.picture.url}}
					            	<img {{bind-attr src=candidate.candidate.picture.url}}>
					            {{else}}
					             	{{#if candidate.candidate.force.logo.url}}
						              	<img {{bind-attr src=candidate.candidate.force.logo.url}}>
					              	{{else}}
						              	<img src="/assets/images/no-user-img.jpg" width="76px">
					              	{{/if}}
					           {{/if}}
				            </div>
						    <div class="item-data">
							 	<h2>
							 		{{candidate.candidate.name}} {{candidate.candidate.lastName}}
						 		</h2>
							 	<div class="percent">
								 	{{candidate.percent}}%
								 	<small>{{candidate.votes}} votos</small>
								</div>
								<i>{{candidate.candidate.force.name}}</i>
							</div>
						</div>
					{{/each}}
					{{progress-bar candidateId=5 candidates=view.candidates}}
				</div>
				<div class="boroughs-list">
					<div class="boroughs-item -head">
						<div class="name">Barrio</div>
						<div class="candidate-progress">
							{{#each view.candidates as |candidate|}}
								<div class="votes">{{candidate.candidate.lastName}}</div>
							{{/each}}
						</div>
					</div>
					{{#each view.boroughsList as |borough|}}
						<div class="boroughs-item">
							<div class="name">{{borough.borough.name}}</div>
							<div class="candidate-progress">
								{{#each borough.candidates as |candidate|}}
									<div {{bind-attr class=":votes"}}>
										{{candidate.percent}}%
										
									</div>
								{{/each}}
							</div>
						</div>
					{{/each}}
				</div>

			<div class="last-boards">
				{{#if view.lastBoardsLoaded}}
					<h3>Últimas mesas cargadas</h3>
					{{#slick-carousel
					  class="ember-carousel"
					  autoplay=true
					  autoplaySpeed=5000
					  slidesToShow=1
					  slidesToScroll=1
					  dots=true
					  fade=false
					  }}
						{{#each view.lastBoards as |board|}}

							<div class="board-item">
								<div class="board">
									<span><b>{{board.board.name}}</b> | {{board.board.school.name}}</span>

									<span class="pull-right">{{board.board.school.borough.name}}</span>
									{{board.board.updatedAt}}
								</div>
								<div class="candidate-container">
								{{#each board.candidates as |candidate|}}
									<div {{bind-attr class=":candidate-item"}}>
										<div class="name">
											<b>{{candidate.votes}}</b> <br>
											<span>{{candidate.candidate.lastName}}</span>
										</div>
									</div>
								{{/each}}
								</div>
								
							</div>
						{{/each}}
					{{/slick-carousel}}
				{{/if}}
			</div>
			{{/view}}
		</div>
	</div>
{{/each}}